<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block header %}{% endblock %}
</head>
<body>
    {% if user.is_authenticated %}
        Hello, {{ user.username }} - 
        <a href="{% url 'dg_app:home' %}">Home</a>
        <form action="{% url 'accounts:logout' %}" method='post'>
            {% csrf_token %}
            <button name='submit'>Log out</button>
        </form>
    {% else %}
        <a href="{% url 'accounts:login' %}">Log in</a>
        <a href="{% url 'accounts:register' %}">Register</a>
    {% endif %}

    {% block content %}{% endblock %}
</body>
</html>