{% extends 'dg_app/base.html' %}

{% block header %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'dg_app/css/table.css' %}">

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'dg_app/js/edit_table.js' %}"></script>
{% endblock %}


{% block content %}
    {% if user.is_authenticated %}
    <button onclick="addRow()">Add Row</button>
    <button onclick="addColumn()">Add Column</button>
    <button onclick="deleteRow()">Delete Row</button>
    <button onclick="deleteColumn()">Delete Column</button>
        <table >
            <thead>
                <tr>
                    {% for column in content.columns %}
                        <th contenteditable="true">
                            {{ column }}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for result in content.results %}
                    <tr>
                        {% for value in result %}
                            <td contenteditable="true">
                                {{ value }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
            
        </table>
        <button onclick="saveChanges()" data-url="{% url 'dg_app:edit_table' table_id project_id %}">Save Changes</button>
    {% endif %}
{% endblock content %}