{% extends 'dg_app/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <a href="{% url 'dg_app:projects' %}">Projects</a> - 
        <a>Graphs</a>
        {% for graph in graphs %}
            <li><a href="{% url 'dg_app:graph' graph_id=graph.id%}">{{ graph.name }}</a></li>
        {% empty %}
            <p>No graphs have been created yet.</p>
        {% endfor %}
    {% else %}
        <p>You need to be logged in to see this page</p>
    {% endif %}
{% endblock content %}