{% extends 'dg_app/base.html' %}

{% block content %}

    {% if user.is_authenticated %}
    <p><a href="{% url 'dg_app:create_table' project_id %}">Create table</a></p>
    <ul>
        <li>{{ project.name }}</li>
        <ul>
        {% for table in tables %}
            <li>
                <a href="{% url 'dg_app:table' table.id project_id %}">{{ table.name }}</a>
            </li>
        {% empty %}
            <li>
                <li>No tables have been created yet.</li>
            </li>
        {% endfor %}
        </ul>
    </ul>
    {% else %}
        <p>You need to be logged in to see this page</p>
    {% endif %}
    
{% endblock content %}