{% extends 'dg_app/base.html' %}

{% block header %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'dg_app/css/table.css' %}">
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <p><a href="{% url 'dg_app:edit_table' table_id=table_id project_id=project_id %}">Edit</a></p>

        <table>
            <thead>
                <tr>
                    {% for column in content.columns %}
                        <th>{{ column }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for result in content.results %}
                    <tr>
                        {% for value in result %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You need to be logged in to see this page</p>
    {% endif %}
{% endblock content %}